//- mixins
include ../includes/menu
include ../includes/addSomeText
//-
doctype html
html
  head
    meta(charset='utf-8')
    meta(content='', name='keywords')
    meta(content='', name='description')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1', name='viewport')
    meta(content='#fff', name='msapplication-TileColor')
    meta(content='#fff', name='theme-color')
    block title
    link(href='css/main.css', rel='stylesheet')
  body
    include ../partials/header
    block content
    include ../partials/footer
    script(src="js/all.js")
